# Week 2

### Quiz 1: Tuesday, January 27, 2026

Quiz 1 will be given during the class on Tuesday. Here is a [sample quiz](../../_static/quizzes/quiz1_sample.pdf). 

**What is covered:**

- Mathematical operations on integers and floats.
- Strings and string formatting.
- The print() function.
- Conversion functions: int(), float(), str().
- Variable assignment.
- Importing modules.

## Python

- [Functions](../../python_tools/functions.ipynb).
- Boolean expressions.
- The `if` statement.
- `while` loops.
- [Lists and tuples](../../python_tools/lists.ipynb).
- [Plotting with matplotlib](../../python_tools/matplotlib/matplotlib.ipynb).
- [`for` loops](../../python_tools/lists.ipynb).
- [`range()` function](../../python_tools/lists.ipynb).
- List comprehensions.

## Project

[Collatz sequences.](../../projects/collatz/collatz.ipynb)

## Exercises

### Exercise 1.

Write a function `collatz(n)` that prints numbers in the Collatz sequence which starts with `n`.

**Example:**

In [5]:
collatz(3)

3
10
5
16
8
4
2
1

### Exercise 2.

Write a function `collatz_list(n)` that returns a list with the Collatz sequence which starts with `n`.

**Example:**

In [7]:
print(collatz_list(15))

[15, 46, 23, 70, 35, 106, 53, 160, 80, 40, 20, 10, 5, 16, 8, 4, 2, 1]

### Exercise 3.

Write a function `get_stops(n)` that returns a list `stops`, such that `stops[i]` is the stopping time for `i` for all integers `i` $\leq$ `n`.

**Note.** There is no Collatz sequence starting at 0, but will set `stops[0] = 0`.

**Example:**

In [11]:
stops = get_stops(20)
print(stops)

[0, 1, 2, 8, 3, 6, 9, 17, 4, 20, 7, 15, 10, 10, 18, 18, 5, 13, 21, 21, 8]

### Exercise 4.

Compute the list of stopping times for all integers smaller or equal to 100,000 and plot these stopping times.

### Exercise 5.

Compute a list `avg_stops` such that for `i`$\leq$ 100,000 the value of `avg_stops[i]` is the average stopping time for all integers smaller or equal to i. Then plot this list.

**Example:**

In [21]:
print(avg_stops[:5])

[1.0, 1.5, 3.6666666666666665, 3.5, 4.0]

### Exercise 6.

Write a function `get_peaks(n)` that returns a list `peaks`. For `i` $\leq$ `n`, the value `peak[i]` is the peak of the Collatz sequence starting with `i`.

In [14]:
peaks = get_peaks(10)
print(peaks)

[0, 1, 2, 16, 4, 16, 16, 52, 8, 52, 16]

### Exercise 7.

Compute the list of peaks for all integers smaller or equal to 10,000 and plot it.

### Exercise 8.

Find all integers below 1000, for which the peak of the Collatz sequence is above 100,000.

### Exercise 9.

Use list comprehensions to compute a list `top_peaks` of all tuples `(n, p, r)` where:

* `n` is an integer below 100,000
* `p` is the peak of the Collatz sequence starting at `n`
* `r` is the ratio `r = p/n`
* `r` is greater than 1000

**Example.**

In [18]:
top_peaks[:5]

[(4255, 6810136, 1600),
 (4591, 8153620, 1776),
 (5673, 6810136, 1200),
 (6121, 8153620, 1332),
 (6383, 6810136, 1066)]