# Lists, ranges and "for" loops

## Lists

Lists are a type of a container - they contain a number of other objects: numbers, strings, even other lists. A list is an ordered sequence of such objects, identified by surrounding square brackets ``[]``. List elements can be of any type, and can be of different types within the same list. Lists are *mutable*, i.e. once they are created elements can be added to them, replaced or deleted.

<br/>

Use square brackets to create a list:

In [1]:
mylist = [1, 'hello', 3.14]
print(mylist)

[1, 'hello', 3.14]

``len()`` returns the number of elements in a list:

In [2]:
len(mylist)

3

Adding two lists makes a new list by concatenation:

In [3]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = list1 + list2
print(list3)

[1, 2, 3, 4, 5, 6]

Multiplying a list by an integer repeats the list:

In [4]:
list1 = ['a', 'b', 'c']
list2 = 3*list1
print(list2)

['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

Use empty square brackets to create an empty list:

In [6]:
mylist = []
print(mylist)

[]

``append()`` adds an element to the end of a list:

In [7]:
mylist = ['a','b']
mylist.append('c')
print(mylist)

['a', 'b', 'c']

Testing if an element is in a list:

In [8]:
primes = [2, 3, 5, 7, 11, 13, 17, 19]
12 in primes

False

In [9]:
13 in primes

True

## Some list functions

Here are a few useful functions that work with lists:

In [1]:
primes = [2, 3, 5, 7, 11, 13, 17, 19]

`min()` and `max()` return the smallest and largest element of a list of numbers:

In [8]:
min(primes)

2

In [9]:
max(primes)

19

`sum()` returns the sum of all elements in a list of numbers:

In [10]:
sum(primes)

77

The `index()` method returns the index of the first occurrence of an element in a list:

In [6]:
primes.index(7)

3

If a value is not found, the `index()` method raises an error:

In [7]:
primes.index(10)

ValueError: 10 is not in list

## Indexing

Individual elements of a list can be accessed using their indexes enclosed in square brackets. Indexing of list elements starts with 0:

In [10]:
elements = ['H','He','Li','Be','B','C']
print(elements[0])
print(elements[1])

H
He

Negative indexes can be used to access elements counting from the end of
the list:

In [11]:
print(elements[-1])
print(elements[-2])

C
B

List elements can be changed by assigning a new element at a given
index:

In [12]:
elements[0] = 'new'
print(elements)

['new', 'He', 'Li', 'Be', 'B', 'C']

Lists can be nested, that is a list can have other lists as its
elements:

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5]
list_of_lists = [list1, list2]
print(list_of_lists)

Lists can be nested, that is a list can have other lists as its
elements:

In [13]:
list1 = [1, 2, 3]
list2 = [4, 5]
list_of_lists = [list1, list2]
print(list_of_lists)

[[1, 2, 3], [4, 5]]

Using iterated indexes we can access elements of nested lists:

In [14]:
print(list_of_lists[1][0])

4

## List slicing

List slicing produces a new list, consisting of some elements of the original list. Here are some examples.

Start at position 2, end at position 4:

In [15]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
print(letters[2:5])

['c', 'd', 'e']

Start at the beginning, end at position 3:

In [17]:
print(letters[:4])

['a', 'b', 'c', 'd']

Start at position 3, end at the end of the list:

In [18]:
print(letters[3:])

['d', 'e', 'f', 'g', 'h']

Optionally slicing can be used with three arguments. The third argument specifies by what value the index should be increased.

List slicing: start from position 1, end at position 5, increasing index by 2:

In [19]:
print(letters[1:6:2])

['b', 'd', 'f']

Select every third element of the list:

In [20]:
print(letters[::3])

['a', 'd', 'g']

One way to revert a list:

In [21]:
print(letters[::-1])

['h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

**Note.** Because lists are mutable objects it is possible to bind more than one variable to the same list. In such case any of these variables can be used to modify the list:

In [22]:
list1 = [1, 2, 3]
list2 = list1
list2[0] = 8
print(list1)

[8, 2, 3]

Slicing always produces a new list, so the assignment ``list2 = list1[:]`` associates to the variable ``list2`` a new list with the same entries as ``list1``. Changing values of ``list2`` does not affect the values of ``list1`` (and vice versa):

In [23]:
list1 = [1, 2, 3]
list2 = list1[:]
list2[0] = 8
print(list1)
print(list2)

[1, 2, 3]
[8, 2, 3]

## Tuples

Tuples are similar to lists, but they are *non-mutable*, which means that once created their elements cannot be changed, added or removed. Tuples are created by enclosing the elements in parentheses ``()`` instead of square brackets:

In [1]:
t = (1, 2, 3)
print(t)

(1, 2, 3)

Assigning several comma-separated values to a single variable creates a tuple:

In [3]:
t2 = 'a', 1 , True
print(t2)

('a', 1, True)

Modifying an element of a tuple gives an error:

In [5]:
t2[0] = 'b'

TypeError: 'tuple' object does not support item assignment

## Strings vs Lists

Slicing and indexing operations can be also applied to strings:

In [24]:
s = 'New York City'
print(s[0])

N

In [25]:
print(s[4:8])

York

In [26]:
print(s[::2])

NwYr iy

 Like tuples, trings are non-mutable, so it is not possible to append a character to a string or change a character using indexes:

In [27]:
s[0] = 'A'

TypeError: 'str' object does not support item assignment

## "for" loops


Python ``for`` loops provide a way to iterate (loop) over the items in a list, string, or any other iterable object, executing a block of code on each pass through the loop. The syntax is:

```python
for <iteration variable(s)> in <iterable>:    
        <code to execute inside loop>
```

**Note:**

-  The ``for`` statement must be followed by a colon ``:``.
-  The block of code to execute each time through the loop starts on the next line, and must be indented.
-  The block of code of the loop is finished by de-indenting back to the previous level.

Below are some examples of ``for`` loops.

Iteration over elements of a list. The iteration variable gets bound to each item of the lists in turn:

In [28]:
for i in [2, 4, 6]:
    print(10*i)

20
40
60

Iteration over characters in a string. Below, the iteration variable ``letter`` gets bound to each string character in turn:

In [29]:
for letter in 'hello':
    if letter != 'l':
        print(letter)

h
e
o

Computing the sum of squares of numbers from 0 to 4:

In [30]:
total = 0
mylist = [0,1,2,3,4]
for x in mylist:
    total += x**2
print(total)

30

``break`` can be used to terminate a loop early:

In [31]:
for letter in 'Buffalo':
    if letter == 'a':
        break
    else:
        print(letter)

B
u
f
f

## Range

As the examples above illustrate in many situations we may need to iterate a ``for`` loop over a sequence of consecutive integers. It would be inconvenient having to manually type a list of integers to code such iteration. Instead we can use the ``range`` function that generates integers in a given range.

``range(n)`` generates consecutive integers, starting at 0 and ending at `n-1`:

In [4]:
for x in range(5):
    print(x)

0
1
2
3
4

``range(m,n)`` creates a consecutive integers, from m to n-1:

In [36]:
for x in range(5,10):
    print(x)

5
6
7
8
9

The third argument to ``range()`` specifies the increment from one integer to the next:

In [37]:
odds = range(1,10,2)
for x in odds:
    print(x)

1
3
5
7
9

**Note.** The ``range`` function does not produce a list of integers, but instead generates integers one by one as needed. This saves computer memory and can speed up programs. In cases when we want to get an actual list of integers we can do it by using the ``list`` function:

In [35]:
odds = range(1, 10, 2)
odds_list = list(odds)
print(odds_list)

[1, 3, 5, 7, 9]