# Week 1

## Markdown
### title 3

This is some text.

*some text*

**some more** text 

`code 1+1`

* item1
* item2 
* item2



1. first
2. second
3. third

[google website](http://google.com)

| Tables        | Are           | Cool  |
| ------------- |:-------------:| -----:|
| col 3 is      | right-aligned | \$1600 |
| col 2 is      | centered      |   \$12 |
| zebra stripes | are neat      |    \$1 |

In [3]:
3+4

7

## Python arithmetic

In [5]:
1+5

6

In [6]:
2*3

6

In [7]:
11/3

3.6666666666666665

floor division:

In [8]:
11//3

3

modulus (remainder):

In [9]:
11%3

2

In [10]:
15%3

0

In [11]:
5-12

-7

Exponentiation:

In [12]:
2**3

8

In [13]:
2**(-1)

0.5

In [14]:
2**(0.5)

1.4142135623730951

In [15]:
2**100

1267650600228229401496703205376

In [16]:
2.0**100

1.2676506002282294e+30

## Floats vs integers:

* integers = have no decimal point
* floats = have a decimal point
* arithmetics operations on integers are exact, on floats approximate
* integers can be (theoretically) arbitrarily large, floats are represented on a computer only in some finite range.

In [17]:
7**1000

125325663996571831810755483238273420616498507508098617146349500752097059631738116432448839054351520763198615919551594076685828989467263022761790838270854579830015111246661203984624358929832571615718014704096305668097507613273663023226895250541385927158426088684494082416768617708189592286936039922311125683719215046689156738352590137241554510185855964549927575493247391132548534378497978806084951085874202011836362315727420109554782988791530088289711844550500230485638413189947132142243947334199259300735622492937419453650061490302105127920314430401636855677549136337481321811349678427076091437345045399337348611261168055929355402992823192491190360027036112283180935872775214517464013178274657100736321564606838252739601156414628445543663144696050650160812621814327062666195172701780200286645023823083185928061371310300829284071141207731280600001

In [18]:
7.0**1000

OverflowError: (34, 'Result too large')

Converting floats to integers and vice versa:

In [19]:
int(7.0)

7

In [20]:
int(7.4)

7

In [21]:
int(7.9)

7

In [22]:
int(-2.9)

-2

In [23]:
123*1.0

123.0

In [24]:
float(123)

123.0

In [25]:
1/2

0.5

## Variable assignment

In [26]:
a = 2
b = 3

In [27]:
a+b

5

In [28]:
c, d = 100, -20

In [29]:
print(c)

100

In [31]:
print(c, d, c, c, a, b)

100 -20 100 100 2 3

In [32]:
c, d = d, c

In [33]:
print(c, d)

-20 100

In [35]:
a = 2
print(a)

2

In [36]:
a = a + 3
print(a)

5

In [37]:
a += 3
print(a)

8

In [38]:
a *= 2

In [39]:
print(a)

16

## Strings

Text string are antered by enclosing them in either single or double quotes:

In [40]:
s1 = "MTH 337"

In [41]:
print(s1)

MTH 337

In [49]:
s2 = 'Welcome to '

In [43]:
print(s2)

Welcome to

In [85]:
s = 'He said "yes".'
print(s)

He said "yes".

In [50]:
print(s2 + s1)

Welcome to MTH 337

In [51]:
print(10*s1)

MTH 337MTH 337MTH 337MTH 337MTH 337MTH 337MTH 337MTH 337MTH 337MTH 337

A string spanning more than one line must be enclosed in triple quotes:

In [86]:
longs = '''this is 
a long 
text'''

In [87]:
print(longs)

this is
a long
text

`str()` converts numbers into strings:

In [88]:
s = 'The result of this computation is ' + str(100)
print(s)

The result of this computation is 100

In [61]:
s2 = 'Your score is ' + str(75.34) + ' points.'

In [62]:
print(s2)

Your score is 75.34 points.

`int()` and `float()` work on strings:

In [64]:
s1 = '123'
s2 = '3.1415'

In [65]:
s1+s2

'1233.1415'

In [66]:
3*s1

'123123123'

In [67]:
float(s1) + float(s2)

126.1415

In [69]:
int(s1)

123

In [70]:
int(s2)

ValueError: invalid literal for int() with base 10: '3.1415'

## String formating

In [71]:
a = 7
b = 2
c = a+b

In [72]:
s = 'If we add {} and {} then we get {}'.format(a, b, c)

In [73]:
print(s)

If we add 7 and 2 then we get 9

In [74]:
s = 'Given numbers {0} and {1}, if we add {0} and {1} then we get {2}'.format(a, b, c)

In [75]:
print(s)

Given numbers 7 and 2, if we add 7 and 2 then we get 9

## Latex in markdown cells

Inline formulas are enclosed in dollar signs: $\int xdx = \frac{1}{2}x^2 +C$. Displayed formulas are enclosed in double dollars:
$$\sum_{n=1}^\infty \frac{1}{2^n} = 1$$

## Modules

Importing modules is done with the `import` statement:

In [1]:
import math

In [2]:
print(dir(math))

['__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'trunc']

In [4]:
help(math.sin)

Help on built-in function sin in module math:

sin(...)
    sin(x)

    Return the sine of x (measured in radians).

In [5]:
math.pi

3.141592653589793

In [6]:
math.sin(0.5*math.pi)

1.0

## Methods for simplifying module names:

1) give the module a nickname:

In [9]:
import math as m

In [10]:
m.cos(0.5*m.pi)

6.123233995736766e-17

2) import some module items for direct use:

In [11]:
from math import cos, pi

In [12]:
cos(0.5*pi)

6.123233995736766e-17

3) import everything for direct use:

In [13]:
from math import *

In [14]:
sin(pi)

1.2246467991473532e-16

In [15]:
factorial(3)

6

In [89]:
e = 1
from math import *
print(e)

2.718281828459045

## Boolean values and expressions

Boolean values: `True`, `False`:

In [21]:
a = True

Boolean expression: an expression that evaluates to either `True` or `False`:

Equality test:

In [24]:
4 == 2+2

True

In [25]:
4 == 5

False

Inequality test:

In [26]:
4 != 5

True

In [27]:
'aaa' != 3*'a'

False

In [28]:
5 > 4

True

In [29]:
5 >= 5

True

In [30]:
10 < 7

False

In [31]:
7 <= 6

False

## The `if` statement

In [90]:
a = 10

if a < 100:
    print('{} is a small number'.format(a))
print('done')

10 is a small number
done

In [91]:
a = 101

if a < 100:
    print('{} is a small number'.format(a))
else:
    print('{} is a large number'.format(a))
print('done')

101 is a large number
done

In [38]:
1 == 1.0

True

In [39]:
True + True

2

In [42]:
n = 115
m = 5

if(n%m == 0):
    print('{} is not a prime'.format(n))
else:
    print('{} may be a prime'.format(n))

115 is not a prime

## Repetition: lists and `for` loops:

Lists are created by enclosing some objects in square brackets:

In [43]:
mylist = [1, 2, 'hello', 1.234]

In [44]:
print(mylist)

[1, 2, 'hello', 1.234]

In [45]:
letters = ['a', 'b', 'c']
numbers = [1, 2, 3]
l = letters + numbers

In [46]:
print(l)

['a', 'b', 'c', 1, 2, 3]

In [47]:
l2 = 3*letters
print(l2)

['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

In [48]:
l = 100*[0]

In [49]:
print(l)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

Appending elements to a list:

In [50]:
print(letters)

['a', 'b', 'c']

In [93]:
letters.append('d')
print(letters)

['a', 'b', 'c', 'd', 'd', 'd']

`len()` returns the number of element in a list:

In [53]:
len(letters)

4

In [54]:
A = 1
a = 2

In [55]:
print(A, a)

1 2

## `for` loops

In [58]:
for letter in ['a', 'b', 'c', 'd']:
    print('the letter is:')
    print(letter)
print('done!')

the letter is:
a
the letter is:
b
the letter is:
c
the letter is:
d
done!

In [94]:
squares = []
for n in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]:
    squares.append(n**2)
    
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

To produce a sequence of integers we can use the `range()` function.

`range(n`) produces integers from 0 to n-1:

In [62]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

`range(m, n)` produces integers from `m` till `n-1`:

In [63]:
for x in range(5, 10):
    print(x)

5
6
7
8
9

`range(m, n, k)` produces integers from `m` to `n-1` incrementing by `k`:

In [64]:
for x in range(5, 20, 3):
    print(x)

5
8
11
14
17

In [66]:
n= 10

for m in range(2, n):
    if n%m == 0:
        print('{} is not a prime'.format(n))

10 is not a prime
10 is not a prime

**Note:** `range()` does not produce a list.

In [67]:
print(range(5))

range(0, 5)

We can make a list out of the `range()` function by using the `list()` function:

In [68]:
L = list(range(5))

In [69]:
print(L)

[0, 1, 2, 3, 4]